{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="../static/css/jquery.timepicker.css" rel="stylesheet">
<script src="../static/js/jquery.timepicker.min.js"></script>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Nueva Operacion<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputDescription" class="col-sm-3 control-label">Descripción</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDescription" id="inputDescription"
                           placeholder="Descripción">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Fecha y Hora</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputFecha" id="inputFecha"
                           placeholder="Fecha"> <input type="text" class="form-control" name="inputHora" id="inputHora"
                           placeholder="Hora">
                           <script>
  $( function() {
    $( "#inputFecha" ).datepicker({dateFormat: 'dd-mm-yy'});
  } );
  

$('#inputHora').timepicker();
  </script>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}

